@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/pexels-jorge-jesus-614117.jpg);
  background-size: cover;
}

#calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 71, 4, 0.712);
  outline: 1px solid springgreen;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  

}

.input-container input {
  background-color: rgba(87, 177, 46, 0.63);
  color: orange;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  margin: 1rem;
  width: 20vw;
  height: 10vh;
  min-width: 25vh;

  font-weight: 900;
}

#calculator .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  /* margin-bottom: 1rem; */
}

.row .bg-red {
  background-color: rgb(184, 1, 1);
}

.row .bg-red:hover{
  background-color: orange;
  transition: 0.3s ease all;

}

.row button {
  border-radius: 0px;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  color: white;
  background: rgba(127, 204, 255, 0.39);
  margin: 0 0.3rem;
}

button:hover{
  background: rgb(0, 155, 77);
  transition: 0.3s ease all;
}

.row .btn {
  cursor: pointer;
}


.footer{
  color: white;
  margin-top: 1.5rem;
}

a{
  color: orange;
  text-transform: uppercase;
}

a:hover{
  color: springgreen;
  transition: 0.3s ease all;

}



@media (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-container input {
    min-width: 220px;
    height: 15vw;
  }

  #calculator{
    outline: 1px solid springgreen;


  }
}
